Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

coverage:
  range: 95..100

  status:
    project: off

flags:
  library:
    paths:
    - aiosignal/
  configs:
    paths:
    - requirements/
    - .git*
    - '*.toml'
    - '*.yml'
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - '*.md'
    - '*.rst'
    - '*.txt'
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

Add support for Python 3.13
  .github/workflows/ci.yml
  CHANGES/508.feature
  setup.cfg
  tox.ini
Due: changelog

Fix CI
  .github/workflows/ci.yml
  MANIFEST.in
  setup.cfg
  tox.ini
Due: none

Fix CI (#645)
  .github/workflows/ci.yml
  MANIFEST.in
  setup.cfg
  tox.ini
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks (#646)
  .pre-commit-config.yaml
Due: none

Tune CI
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
  requirements/ci-bot.txt
Due: configs

Tune CI (#647)
  .github/workflows/ci.yml
  requirements/ci-bot.txt
Due: configs

Setup deployment
  .github/workflows/ci.yml
Due: none

Release 1.3.2
  CHANGES.rst
  CHANGES/362.misc
  CHANGES/413.removal
  aiosignal/__init__.py
Due: library, changelog, docs

Fix changes
  CHANGES.rst
Due: changelog, docs

Release 1.3.2 (#648)
  CHANGES.rst
  CHANGES/362.misc
  CHANGES/413.removal
  aiosignal/__init__.py
Due: library, changelog, docs

Fix deployment
  .github/workflows/ci.yml
Due: none

Fix deployment (#649)
  .github/workflows/ci.yml
Due: none

Cleanup README
  README.rst
Due: docs

Cleanup README (#650)
  README.rst
Due: docs

Fix RTD
  .readthedocs.yml
Due: configs

Fix RTD (#669)
  .readthedocs.yml
Due: configs

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update ci.yml (#670)
  .github/workflows/ci.yml
Due: none

Drop sphinxcontrib-asyncio doc dependency (#528)
  CHANGES/528.doc
  docs/conf.py
  requirements/doc.txt
Due: configs, changelog, docs

🧪📝💅 Drop mentions of Cython in the repo
  docs/spelling_wordlist.txt
  tox.ini
Due: docs

🧪 Make coverage HTML open hint cross-platform
  tox.ini
Due: none

🧪💅 Use 2-space indents in ini files
  setup.cfg
  tox.ini
Due: none

🧪 Normalize `basepython` syntax in tox config
  tox.ini
Due: none

🧪 Implement CI job auto-cancellation
  .github/workflows/ci.yml
Due: none

🧪💅 Annotate CI/CD def env vars
  .github/workflows/ci.yml
Due: none

🧪 Drop frozenlist env var ref from CI
  .github/workflows/ci.yml
Due: none

🧪 Make `twine check` strict
  .github/workflows/ci.yml
Due: none

🧪Integrate `PROJECT_NAME` across CI/CD workflow
  .github/workflows/ci.yml
Due: none

🧪 Unset per-step `$COLOR` in favor of global
  .github/workflows/ci.yml
Due: none

🧪 Normalize the CI/CD workflow file to `ci-cd`
  .github/workflows/ci-cd.yml
Due: none

🧪 Add a dedicated CI/CD job for building the dists
  .github/actions/cache-keys/action.yml
  .github/reusables/tox-dev/workflow/reusable-tox/hooks/post-tox-run/action.yml
  .github/workflows/ci-cd.yml
  tox.ini
Due: none

🧪 Re-integrate a full pre-commit run into GHA
  .github/actions/cache-keys/action.yml
  .github/reusables/tox-dev/workflow/reusable-tox/hooks/post-src-checkout/action.yml
  .github/workflows/ci-cd.yml
  tox.ini
Due: none

🧪 Move metadata validation into a dedicated job
  .github/workflows/ci-cd.yml
  tox.ini
Due: none

🧪 Include automation into sdist
  MANIFEST.in
Due: none

🧪 Unify docs builds across envs
  .github/workflows/ci-cd.yml
  .readthedocs.yaml
  .readthedocs.yml
  tox.ini
Due: configs

🧪 Bypass GHA/CI/runtime env vars into tox
  tox.ini
Due: none

🧪 Move spellcheck into a dedicated job
  .github/workflows/ci-cd.yml
  tox.ini
Due: none

🧪💅 Move MyPy settings into a dedicated config
  .mypy.ini
  setup.cfg
Due: none
