Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

coverage:
  range: 95..100

  status:
    project: off

flags:
  library:
    paths:
    - aiosignal/
  configs:
    paths:
    - requirements/
    - .git*
    - '*.toml'
    - '*.yml'
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - '*.md'
    - '*.rst'
    - '*.txt'
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

🧪 Move MyPy into the linting matrix
  .github/workflows/ci-cd.yml
  .mypy.ini
  .pre-commit-config.yaml
Due: none

🧪 Move sorting contributors to `pre-commit`
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
Due: none

🧪💅 Pluralize test job IDs
  .github/workflows/ci-cd.yml
Due: none

Stop tagging wheels with `py2.py3`
  .github/workflows/ci-cd.yml
  setup.cfg
Due: none

Make pytest config standalone
  pytest.ini
  setup.cfg
Due: none

Make pytest config sparse
  pytest.ini
Due: none

Order pytest config entries
  pytest.ini
Due: none

Annotate pytest config
  pytest.ini
Due: none

🧪 Load `pytest-cov` early
  pytest.ini
Due: none

🧪 Make coverage config standalone
  .coveragerc
  pytest.ini
  setup.cfg
Due: none

🧪 Mark entire repo as source in coverage
  .coveragerc
  pytest.ini
Due: none

Map covered paths to site-packages
  .coveragerc
Due: none

🧪 Make covered paths relative
  .coveragerc
Due: none

🧪 Normalize `bool`s in coverage config
  .coveragerc
Due: none

🧪 Skip measuring pylib coverage
  .coveragerc
Due: none

🧪 Measure coverage in parallel
  .coveragerc
Due: none

🧪 Configure coverage reports
  .coveragerc
Due: none

🧪 Set dynamic context via `pytest-cov`
  pytest.ini
Due: none

🧪 Skip printing coverage on test failures
  pytest.ini
Due: none

🧪 Drop increased pytest verbosity from config
  pytest.ini
Due: none

🧪 Sync pytest config with known good upstream
  pytest.ini
Due: none

🧪 Multi-line the Python matrix in CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Use `python-vesion` factor name in CI matrix
  .github/workflows/ci-cd.yml
Due: none

🧪 Make fail-fast depend on debug in CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Reorder Pythons in CI respecting priority
  .github/workflows/ci-cd.yml
Due: none

🧪 Exclude `setup.py` from coverage measurements
  .coveragerc
Due: none

🧪 Mark line in tests that mustn't be called
  tests/test_signals.py
Due: tests

🧪 Wire pytest in CI via a reusable workflow
  .github/workflows/ci-cd.yml
  tox.ini
Due: none

🧪 Fix passing xfail to reusable workflow in CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Include `pytest.ini` into the sdist
  MANIFEST.in
Due: none

🧪 Map aiosignal to src in coveragepy
  .coveragerc
Due: none

Revert "🧪 Map aiosignal to src in coveragepy"
  .coveragerc
Due: none

🧪💅 Normalize the name of codecov config
  .codecov.yml
Due: configs

🔥 Drop deprecated unused bot configs
  .clabot
  .lgtm.yml
  .pyup.yml
Due: configs

🧪 Include coverage configs into sdist
  MANIFEST.in
Due: none

🧪 Point Codecov links to the `pytest` flag
  README.rst
  setup.cfg
Due: docs

Add type hints for static type checkers to see parameters being passed.
  aiosignal/typedefs.py
Due: library

Add Type hints to stubfile
  aiosignal/__init__.pyi
Due: library

Update __init__.pyi
  aiosignal/__init__.pyi
Due: library

Update __init__.py
  aiosignal/__init__.py
Due: library
