Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

Add changenotes
  CHANGES/267.feature
  CHANGES/267.removal
Due: changelog

Fix test
  Makefile
  aiosignal/__init__.py
Due: library

Replace pre-commit yaml formatter
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .lgtm.yml
  .pre-commit-config.yaml
  .pyup.yml
  .readthedocs.yml
  codecov.yml
Due: configs

Replace pre-commit yaml formatter (#299)
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .lgtm.yml
  .pre-commit-config.yaml
  .pyup.yml
  .readthedocs.yml
  codecov.yml
Due: configs

Explicitly state a Python version
  .github/workflows/ci.yml
Due: none

CI: Replace deprecated set-output syntax
  .github/workflows/ci.yml
Due: none

CI: Replace deprecated set-output syntax (#357)
  .github/workflows/ci.yml
Due: none

CI: let setup-python handle caching
  .github/workflows/ci.yml
Due: none

CI: let setup-python handle caching (#358)
  .github/workflows/ci.yml
Due: none

CI: leave running pre-commit to pre-commit.ci
  Makefile
Due: none

CI: leave running pre-commit to pre-commit.ci (#359)
  Makefile
Due: none

Add support for Python 3.11
  .github/workflows/ci.yml
  CHANGES/360.feature
  setup.cfg
Due: changelog

Add support for Python 3.11 (#360)
  .github/workflows/ci.yml
  CHANGES/360.feature
  setup.cfg
Due: changelog

Bump to 1.3.0
  CHANGES.rst
  CHANGES/267.feature
  CHANGES/267.removal
  CHANGES/360.feature
  aiosignal/__init__.py
Due: library, changelog, docs

CI: stop towncrier from breaking releases
  .github/workflows/ci.yml
Due: none

Fix typo in declared classifiers
  CHANGES/361.bugfix
  setup.cfg
Due: changelog

Fix typo in declared classifiers (#361)
  CHANGES/361.bugfix
  setup.cfg
Due: changelog

Bump to 1.3.1
  CHANGES.rst
  CHANGES/361.bugfix
  aiosignal/__init__.py
Due: library, changelog, docs

CI: improve check for successful tests
  .github/workflows/ci.yml
Due: none

Remove redundant wheel dep from pyproject.toml
  CHANGES/362.misc
  pyproject.toml
Due: configs, changelog

Remove redundant wheel dep from pyproject.toml (#362)
  CHANGES/362.misc
  pyproject.toml
Due: configs, changelog

Update check-jsonschema URL and version to latest
  .pre-commit-config.yaml
Due: none

Switch to new libenchant-2-dev package
  .github/workflows/ci.yml
Due: none

ci: Update the flake8 pre-commit hook URL.
  .pre-commit-config.yaml
Due: none

Switch to new libenchant-2-dev package (#411)
  .github/workflows/ci.yml
Due: none

ci: Update the flake8 pre-commit hook URL. (#412)
  .pre-commit-config.yaml
Due: none

Update check-jsonschema URL and version to latest (#369)
  .pre-commit-config.yaml
Due: none

Drop support for Python 3.7
  .github/workflows/ci.yml
  CHANGES/413.removal
  setup.cfg
  tox.ini
Due: changelog

Drop support for Python 3.7 (#413)
  .github/workflows/ci.yml
  CHANGES/413.removal
  setup.cfg
  tox.ini
Due: changelog

Add CodeQL workflow for GitHub code scanning
  .github/codeql.yml
  .github/workflows/codeql.yml
Due: none

Update documentation references to min version.
  README.rst
  docs/index.rst
  requirements/dev.txt
Due: configs, docs

Update documentation references to min version. (#414)
  README.rst
  docs/index.rst
  requirements/dev.txt
Due: configs, docs

ci: Update RTD config to build with newer Python
  .readthedocs.yml
Due: configs

ci: Update RTD config to build with newer Python (#415)
  .readthedocs.yml
Due: configs

ci: Further tweak the RTD config to be valid
  .readthedocs.yml
Due: configs

ci: Further tweak the RTD config to be valid (#416)
  .readthedocs.yml
Due: configs

ci: remove deprecated codecov package
  requirements/ci-wheel.txt
Due: configs

Add support for Python 3.12
  .github/workflows/ci.yml
  setup.cfg
  tox.ini
Due: none

Add new news fragment
  CHANGES/508.feature
Due: changelog

Drop sphinxcontrib-asyncio doc dependency
  CHANGES/528.doc
  docs/conf.py
  requirements/doc.txt
Due: configs, changelog, docs

Path conditions:
  library: any of: aiosignal/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
