Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

coverage:
  range: 95..100

  status:
    project: off

flags:
  library:
    paths:
    - aiosignal/
  configs:
    paths:
    - requirements/
    - .git*
    - '*.toml'
    - '*.yml'
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - '*.md'
    - '*.rst'
    - '*.txt'
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Create 699.feature
  CHANGES/699.feature
Due: changelog

Update 699.feature
  CHANGES/699.feature
Due: changelog

Don't think this stub file is needed anymore.
  aiosignal/__init__.pyi
Due: library

Add inline annotations to __init__.py
  aiosignal/__init__.py
Due: library

move typedefs to __init__.py
  aiosignal/typedefs.py
Due: library

add wrapper test
  tests/test_signals.py
Due: tests

Move Typing to `__init__` instead of a separate module
  aiosignal/__init__.py
Due: library

Add suggested changes from mypy
  aiosignal/__init__.py
Due: library

Update test_signals.py
  tests/test_signals.py
Due: tests

Fix CI
  .github/workflows/ci-cd.yml
Due: none

Fix CI (#700)
  .github/workflows/ci-cd.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update aiosignal/__init__.py
  aiosignal/__init__.py
Due: library

Remove Generic Since Owner will not need a typehint.
  aiosignal/__init__.py
Due: library

add flake8's suggestions
  aiosignal/__init__.py
Due: library

Update and rename 699.feature to 699.feature.1.rst
  CHANGES/699.feature
  CHANGES/699.feature.1.rst
Due: changelog

Create 699.feature.2.rst
  CHANGES/699.feature.2.rst
Due: changelog

Update __init__.py
  aiosignal/__init__.py
Due: library

Add type_extensions if Python version is 3.9
  setup.cfg
Due: none

Update setup.cfg
  setup.cfg
Due: none

Update CHANGES/699.feature.2.rst
  CHANGES/699.feature.2.rst
Due: changelog

Update 699.feature.2.rst
  CHANGES/699.feature.2.rst
Due: changelog

Update 699.feature.1.rst
  CHANGES/699.feature.1.rst
Due: changelog

Update CHANGES/699.feature.1.rst
  CHANGES/699.feature.1.rst
Due: changelog

Make suggested changes
  .coveragerc
Due: none

rename feature notes for pre-commit-ci to find more acceptable.
  CHANGES/699.1.feature.rst
Due: changelog

Rename 699.feature.2.rst to 699.2.feature.rst
  CHANGES/699.2.feature.rst
Due: changelog
