Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

CI: fix wheel requirements syntax.
  requirements/wheel.txt
Due: configs

CI: Only run mypy when using cpython
  Makefile
Due: none

Put universal wheel setting into setup.cfg instead.
  setup.cfg
  setup.py
Due: none

CI: clean up travis
  .travis.yml
  requirements/ci.txt
Due: configs

CI: Deploy to PyPI when tagged.
  .travis.yml
Due: configs

CI: clean up travis config
  .travis.yml
Due: configs

CI: untangle deployment lines
  .travis.yml
Due: configs

CI: Another attempt at supplying the correct PYPI token.
  .travis.yml
Due: configs

CI: Make deployment a separate stage, only run when tests succeed.
  .travis.yml
Due: configs

Automerge dependabot updates
  .dependabot/config.yml
Due: none

Fix chronographer config
  .github/config.yml
Due: none

Switch to using azure pipelines.
  .azure-pipelines/ci.yml
  .azure-pipelines/deploy.yml
  .azure-pipelines/stage-deploy.yml
  .azure-pipelines/stage-lint.yml
  .azure-pipelines/stage-test.yml
  .travis.yml
  Makefile
  README.rst
  docs/conf.py
  requirements/doc-spelling.txt
  setup.py
Due: configs, docs

Explicitly list pytest as a third-party library.
  setup.cfg
Due: none

Update azure CI link to final ID.
  README.rst
  docs/conf.py
Due: docs

Correct job name.
  .azure-pipelines/stage-deploy.yml
Due: none

Azure pipelines (#22)
  .azure-pipelines/ci.yml
  .azure-pipelines/deploy.yml
  .azure-pipelines/stage-deploy.yml
  .azure-pipelines/stage-lint.yml
  .azure-pipelines/stage-test.yml
  .travis.yml
  Makefile
  README.rst
  docs/conf.py
  requirements/doc-spelling.txt
  setup.cfg
  setup.py
Due: configs, docs

Remove 3.5 support.
  README.rst
  docs/conf.py
  docs/index.rst
  setup.py
  tox.ini
Due: docs

Remove 3.5 support. (#23)
  README.rst
  docs/conf.py
  docs/index.rst
  setup.py
  tox.ini
Due: docs

Clean up .github config
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/main.workflow
Due: none

Fix towncrier link
  CHANGES.rst
Due: changelog, docs

Add news entry for the 3.5 drop
  CHANGES/23.removal
Due: changelog

Add Discourse badges to documentation
  README.rst
  docs/conf.py
Due: docs

Release v1.0.0
  CHANGES.rst
  CHANGES/23.removal
  aiosignal/__init__.py
Due: library, changelog, docs

Groups -> Discourse
  docs/index.rst
Due: docs

Auto-approve dependabot pull requests.
  .github/workflows/auto-approve.yml
Due: none

Bump pytest and pytest-asyncio deps
  requirements/ci-wheel.txt
  requirements/wheel.txt
Due: configs

Correct requirements reference
  requirements/ci-wheel.txt
Due: configs

Bump pytest and pytest-asyncio deps (#71)
  requirements/ci-wheel.txt
  requirements/wheel.txt
Due: configs

Explicitly set junit_family to silence pytest warnings
  pytest.ci.ini
  pytest.ini
Due: none

Explicitly set junit_family to silence pytest warnings (#72)
  pytest.ci.ini
  pytest.ini
Due: none

Setup github ci
  .github/workflows/ci.yml
  setup.py
Due: none

Bump dependency
  setup.py
Due: none

Update badges
  README.rst
Due: docs

Bump to 1.1.0
  CHANGES.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Fix CI
  .github/workflows/ci.yml
Due: none

Update remaining CI references to GitHub
  .azure-pipelines/ci.yml
  .azure-pipelines/deploy.yml
  .azure-pipelines/stage-deploy.yml
  .azure-pipelines/stage-lint.yml
  .azure-pipelines/stage-test.yml
  docs/conf.py
  setup.py
Due: docs

correct codecov.yml syntax
  codecov.yml
Due: configs

CI improvements
  .github/workflows/ci.yml
Due: none

CI: clean up expressions and link test-summary to pre_job
  .github/workflows/ci.yml
Due: none

fix matrix status check
  .github/workflows/ci.yml
Due: none

Path conditions:
  library: any of: aiosignal/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
