Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

coverage:
  range: 95..100

  status:
    project: off

flags:
  library:
    paths:
    - aiosignal/
  configs:
    paths:
    - requirements/
    - .git*
    - '*.toml'
    - '*.yml'
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - '*.md'
    - '*.rst'
    - '*.txt'
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

Create 710.feature.rst
  CHANGES/710.feature.rst
Due: changelog

Fix typing on tests
  tests/test_signals.py
Due: tests

Update index.rst
  docs/index.rst
Due: docs

Update 699.feature.rst
  CHANGES/699.feature.rst
Due: changelog

Update setup.cfg
  setup.cfg
Due: none

Use Callable for typing, rather than ParamSpec (#710)
  .coveragerc
  CHANGES/699.feature.rst
  CHANGES/710.feature.rst
  aiosignal/__init__.py
  docs/index.rst
  setup.cfg
Due: library, changelog, docs

Update test_signals.py
  tests/test_signals.py
Due: tests

Strict typing (#703)
  .mypy.ini
  .pre-commit-config.yaml
  tests/test_signals.py
Due: tests

Release v1.4
  aiosignal/__init__.py
Due: library

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Delete CHANGES/710.feature.rst
  CHANGES/710.feature.rst
Due: changelog

Delete CHANGES/699.feature.rst
  CHANGES/699.feature.rst
Due: changelog

Delete CHANGES/528.doc
  CHANGES/528.doc
Due: changelog

Update __init__.py
  aiosignal/__init__.py
Due: library

Release v1.4 (#718)
  CHANGES.rst
  CHANGES/528.doc
  CHANGES/699.feature.rst
  CHANGES/710.feature.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Fix deploy
  setup.cfg
Due: none

Fix minimum version of typing-extensions
  setup.cfg
Due: none

Fix minimum version of typing-extensions (#723)
  setup.cfg
Due: none

Fix docs
  docs/index.rst
Due: docs

Fix doc rendering (#724)
  docs/index.rst
Due: docs

Fix broken RST links in README and update outdated docs
  README.rst
  docs/index.rst
Due: docs

Add towncrier news fragment for PR #794
  CHANGES/794.doc
Due: changelog

Drop 3.9 support
  .pre-commit-config.yaml
  docs/index.rst
  setup.cfg
  tox.ini
Due: docs

Drop 3.9 support
  .github/workflows/ci-cd.yml
Due: none

Update wheel.txt
  requirements/wheel.txt
Due: configs

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Drop 3.9 support (#795)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  docs/index.rst
  requirements/wheel.txt
  setup.cfg
  tox.ini
Due: configs, docs

Fix broken RST links in README and update outdated docs (#794)
  CHANGES/794.doc
  README.rst
  docs/index.rst
Due: changelog, docs

Update __repr__ method to include class name
  aiosignal/__init__.py
Due: library

Update 812.fix to allow repr for subclassed signals
  CHANGES/812.fix
Due: changelog

Rename 812.fix to 812.feature
  CHANGES/812.feature
Due: changelog

Update __repr__ method to include class name (#812)
  CHANGES/812.feature
  aiosignal/__init__.py
Due: library, changelog

Move project metadata from setup.cfg to pyproject.toml
  pyproject.toml
  setup.cfg
Due: configs

Add news fragment for #897
  CHANGES/897.misc
Due: changelog

Add static-typing regression tests for Signal
  .coveragerc
  tests/test_typing.py
Due: tests
