Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

Bump to 1.1.1
  CHANGES.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Fix CI
  .github/workflows/ci.yml
Due: none

Add type hints marker
  aiosignal/py.typed
Due: library

Cleanup github workflow
  .github/workflows/ci.yml
Due: none

Bump to 1.1.2
  CHANGES.rst
  MANIFEST.in
  aiosignal/__init__.py
Due: library, changelog, docs

Add Apache 2 licences
  LICENSE
  MANIFEST.in
  setup.cfg
Due: none

Merge pull request #164 from aio-libs/all-repos_autofix_rename-license-file
  LICENSE
  MANIFEST.in
  setup.cfg
Due: none

Mark aiosignal as Python3-only package
  setup.cfg
  setup.py
Due: none

Add changes
  CHANGES/165.bugfix
Due: changelog

Mark aiosignal as Python3-only package (#165)
  CHANGES/165.bugfix
  setup.cfg
  setup.py
Due: changelog

Restore test-summary actions step back
  .github/workflows/ci.yml
Due: none

Add empty steps
  .github/workflows/ci.yml
Due: none

Add placeholder
  .github/workflows/ci.yml
Due: none

Restore test-summary actions step back (#166)
  .github/workflows/ci.yml
Due: none

Setup deployment
  .github/workflows/ci.yml
Due: none

Bump to 1.1.3
  CHANGES.rst
  CHANGES/165.bugfix
  aiosignal/__init__.py
Due: library, changelog, docs

Bump to 1.1.3a0
  CHANGES.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Bump to 1.1.3a1
  CHANGES.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Bump to 1.1.3a2
  CHANGES.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Setup Python 3.10 support
  .github/workflows/ci.yml
  setup.py
Due: none

Add changelog
  CHANGES/328.feature.rst
Due: changelog

Apply black formatter
  aiosignal/__init__.py
  aiosignal/__init__.pyi
  docs/conf.py
  setup.cfg
  setup.py
  tests/test_signals.py
  tools/check_changes.py
Due: library, docs, tests, tools

Fix changes-checker script
  tools/check_changes.py
Due: tools

fix
  tools/check_changes.py
Due: tools

Bump to 1.2.0a0
  CHANGES.rst
  CHANGES/328.feature.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Support Python 3.10 (#238)
  .github/workflows/ci.yml
  CHANGES.rst
  aiosignal/__init__.py
  setup.py
  tools/check_changes.py
Due: library, changelog, docs, tools

Bump to 1.2.0
  CHANGES.rst
  aiosignal/__init__.py
Due: library, changelog, docs

Update README.rst
  README.rst
Due: docs

Tune automerge settings
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Fix
  Makefile
  pytest.ci.ini
  pytest.ini
  setup.cfg
Due: none

Drop Python 3.6, use declarative setup
  .github/workflows/ci.yml
  pyproject.toml
  setup.cfg
  setup.py
Due: configs

Resort
  Makefile
  setup.py
Due: none

Drop Python 3.6, use declarative setup (#267)
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
Due: configs

Tune
  .github/workflows/ci.yml
Due: none

Drop pypy
  .github/workflows/ci.yml
Due: none

Setup pre-commit hooks
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .lgtm.yml
  .pre-commit-config.yaml
  .pyup.yml
  .readthedocs.yml
  Makefile
  aiosignal/__init__.py
  codecov.yml
  docs/conf.py
  requirements/ci-wheel.txt
  requirements/flake.txt
  requirements/wheel.txt
  tests/test_signals.py
  tools/check_changes.py
Due: library, configs, docs, tests, tools

Fix deps
  .github/workflows/ci.yml
Due: none

Setup pre-commit hooks (#268)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .lgtm.yml
  .pre-commit-config.yaml
  .pyup.yml
  .readthedocs.yml
  Makefile
  aiosignal/__init__.py
  codecov.yml
  docs/conf.py
  requirements/ci-wheel.txt
  requirements/flake.txt
  requirements/wheel.txt
  tests/test_signals.py
  tools/check_changes.py
Due: library, configs, docs, tests, tools

Path conditions:
  library: any of: aiosignal/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
