Repository aio-libs/aiosignal: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

coverage:
  range: 95..100

  status:
    project: off

flags:
  library:
    paths:
    - aiosignal/
  configs:
    paths:
    - requirements/
    - .git*
    - '*.toml'
    - '*.yml'
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - '*.md'
    - '*.rst'
    - '*.txt'
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

Revert
  CHANGES/699.feature.1.rst
Due: changelog

Revert
  CHANGES/699.feature.2.rst
Due: changelog

Rename 699.feature.1.rst to 699.1.feature.rst
  CHANGES/699.feature.rst
Due: changelog

Rename 699.feature.rst to 699.2.feature.rst
  CHANGES/699.2.feature.rst
Due: changelog

Rename 699.2.feature.rst to 699.1.feature.rst
  CHANGES/699.1.feature.rst
Due: changelog

Rename 699.feature.2.rst to 699.2.feature.rst
  CHANGES/699.2.feature.rst
Due: changelog

Update and rename 699.1.feature.rst to 699.feature.rst
  CHANGES/699.1.feature.rst
  CHANGES/699.feature.rst
Due: changelog

Force Workflow to Pass we can reorganize this later...
  CHANGES/699.2.feature.rst
Due: changelog

Update 699.feature.rst
  CHANGES/699.feature.rst
Due: changelog

Add decorator to aiosignal along with better type annotations (#699)
  .coveragerc
  .pre-commit-config.yaml
  CHANGES/699.feature.rst
  CONTRIBUTORS.txt
  aiosignal/__init__.py
  aiosignal/__init__.pyi
  setup.cfg
  tests/test_signals.py
Due: library, changelog, docs, tests

Auto asyncio mode
  pytest.ini
Due: none

Update test_signals.py
  tests/test_signals.py
Due: tests

Auto asyncio mode (#702)
  pytest.ini
  tests/test_signals.py
Due: tests

Strict typing
  .mypy.ini
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add 2 new methods for defining function Parameters to a Signal
  aiosignal/__init__.py
Due: library

type hint known as "Self" requires typing-extensions on 3.10
  setup.cfg
Due: none

Remove this library, I was using it while trying to find a solution.
  aiosignal/__init__.py
Due: library

Minor spelling tweaks to documented functions
  aiosignal/__init__.py
Due: library

Workflow Didn't like the use of `Self` outside of a class method let's try an alternative approch.
  aiosignal/__init__.py
Due: library

Revert since "Self" can't be used outside of a class method.
  setup.cfg
Due: none

Create 705.feature.rst
  CHANGES/705.feature.rst
Due: changelog

Fixed with autopep8
  tests/test_signals.py
Due: tests

oops, there was one minor typo
  tests/test_signals.py
Due: tests

Problem solved :)
  aiosignal/__init__.py
Due: library

Ensure __call__ is an Awaitable so coverage passes.
  tests/test_signals.py
Due: tests

Use callable for typing, rather than ParamSpec
  aiosignal/__init__.py
Due: library

Update __init__.py
  aiosignal/__init__.py
Due: library

Update setup.cfg
  setup.cfg
Due: none

Update .coveragerc
  .coveragerc
Due: none

Create 711.feature.rst
  CHANGES/711.feature.rst
Due: changelog

Ran autopep8 to get pre-commit to pass
  tests/test_signals.py
Due: tests
